[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-colors-tomorrow"]
	path = .vim/bundle/vim-colors-tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule ".vim/bundle/vim-colors-gotham"]
	path = .vim/bundle/vim-colors-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule ".vim/bundle/vim-colors-molokai"]
	path = .vim/bundle/vim-colors-molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-colors-dracula"]
	path = .vim/bundle/vim-colors-dracula
	url = https://github.com/zenorocha/dracula-theme.git
